html, body {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  background-image: linear-gradient(to right top, #212b2e, #32383b, #424548, #535355, #626262);
}

.heading {
  margin: 0;
  padding: 4%;
}

.images {
  display: flex;
  max-width: 80%;
  margin: 2% auto;
  flex-wrap: wrap;
  align-items: flex-start;
}
.single-photo {
  max-width: 300px;
  align-self: auto;
  margin: 1% 2px;
  flex-grow: 1;
  vertical-align: middle;
}
